USE [master]
GO
/****** Object:  Database [ASP]    Script Date: 02/07/2017 11:21:32 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'ASP')
BEGIN
CREATE DATABASE [ASP] ON  PRIMARY 
( NAME = N'ASP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\ASP.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ASP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\ASP_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 COLLATE Latin1_General_CI_AI
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASP]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 02/07/2017 11:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Account]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) COLLATE Latin1_General_CI_AI NOT NULL,
	[Password] [varchar](max) COLLATE Latin1_General_CI_AI NOT NULL,
	[Email] [varchar](max) COLLATE Latin1_General_CI_AI NOT NULL,
	[IsAdmin] [int] NOT NULL,
	[IsBanned] [int] NOT NULL,
	[Avatar] [varchar](max) COLLATE Latin1_General_CI_AI NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Account] SET (LOCK_ESCALATION = DISABLE)
GO
/****** Object:  Default [DF_Account_IsAdmin]    Script Date: 02/07/2017 11:21:34 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_Account_IsAdmin]') AND parent_object_id = OBJECT_ID(N'[dbo].[Account]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Account_IsAdmin]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_IsAdmin]  DEFAULT ((0)) FOR [IsAdmin]
END


End
GO
/****** Object:  Default [DF__Account__IsBanne__00551192]    Script Date: 02/07/2017 11:21:34 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__Account__IsBanne__00551192]') AND parent_object_id = OBJECT_ID(N'[dbo].[Account]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__Account__IsBanne__00551192]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF__Account__IsBanne__00551192]  DEFAULT ((0)) FOR [IsBanned]
END


End
GO
